<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Клиенты</title>
</head>

<body>
<h4>Добавить клиента</h4>
<form id = "clientForm">
    <input type="text" name="name" value="Иванов Иван" placeholder="Введите имя клиента">
    <input type="text" name="street" value="ул. Клиентов" placeholder="Введите адрес клиента">
    <input type="text" name="phoneNumbers" value="+7-000-000-00-01,+7-000-000-00-02" placeholder="Введите номера телефонов">
    <input type="submit" value="Добавить">
</form>
<script>
    clientForm.onsubmit = async (e) => {
        e.preventDefault();
        let formData = new FormData(clientForm);
        let json = Object.fromEntries(formData);
        json.phoneNumbers = json.phoneNumbers.split(",").filter(item => item);
        let response = await fetch('/api/client', {
            method: 'POST',
            body: JSON.stringify(json),
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json"
            }
        });
        let result = await response.json();
        alert("Добавлен клиент с id: " + result.id);
        document.location.reload();
    };
</script>

<h4>Список клиентов</h4>
<table style="width: 450px">
    <thead>
        <tr>
            <th style="width: 50px">Id</th>
            <th style="width: 150px">Имя</th>
            <th style="width: 100px">Адрес</th>
            <th style="width: 150px">Телефоны</th>
        </tr>
    </thead>
    <tbody>
    <#list clients as client>
        <tr>
            <td>${client.id}</td>
            <td>${client.name}</td>
            <td>${client.street}</td>
            <td>
                <table>
                    <#list client.phoneNumbers as phone>
                        <tr>
                            <td>${phone}</td>
                        </tr>
                    <#else>
                        <tr>
                            <td>Телефоны не найдены</td>
                        </tr>
                    </#list>
                </table>
            </td>
        </tr>
    </#list>
    </tbody>
</table>
</body>
</html>
